/* my custom style sheet */

/* import bootstrap css */

@import url(assets/css/bootstrap.css);

/*my custom style*/

body{
	background-image: url(assets/img/ricepaper.png);

	color: #000000;


}

.navbar-inner {
		background-image: url(assets/img/ricepaper.png);
}


.hero-unit {
	background-image: url(assets/img/herobackground.jpg);
	color: #777777;
	

}

/*a:link {color:#FF0000;}      /* unvisited link */
/*a:visited {color:#00FF00;}  /* visited link */
/*a:hover {color:#FF00FF;}  
a:active {color:#0000FF;} */ 










}


